!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='stylesheets/prettify.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        
        link(type='text/css', href='stylesheets/jquery-ui-latest.custom.css', rel='stylesheet')
        link(type='text/css', href='stylesheets/alpaca.css')
        link(type="text/css", href="stylesheets/form.css", rel="stylesheet")
        link(type="text/css", href="stylesheets/alpaca-jqueryui.css", rel="stylesheet")

    body
        block content
        div(id='io-footer')
           div(class='f-center')
               ul
                 li <a href="http://www.cancer.gov" target="_blank" alt="National Cancer Institute">NCI Home</a>|
                  <a href="/ncitbrowser/pages/contact_us.jsf?nav_type=terminologies">Contact Us</a>|
                  <a href="http://www.cancer.gov/policies" target="_blank" alt="National Cancer Institute Policies">Policies</a>|
                  <a href="http://www.cancer.gov/policies/page3" target="_blank" alt="National Cancer Institute Accessibility">Accessibility</a>|
                  <a href="http://www.cancer.gov/policies/page6" target="_blank" alt="National Cancer Institute FOIA">FOIA</a>|
                  <a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" alt="HHS Vulnerability Disclosure">HHS Vulnerability Disclosure</a>

                li <a href="http://www.hhs.gov/" alt="U.S. Department of Health and Human Services">  U.S. Department of Health and Human Services</a>&nbsp;|&nbsp;
                 <a href="https://www.nih.gov/about-nih" alt="National Institutes of Health">National Institutes of Health</a>&nbsp;|&nbsp;
                 <a href="http://www.cancer.gov/" alt="National Cancer Institute">National Cancer Institute</a>&nbsp;|&nbsp;
                 <a href="https://www.usa.gov/" alt="USA.gov">USA.gov</a>

           div(class='f-left') &copy;
              a(href='http://mashery.com/io') Mashery, Inc.
           div(class='f-right') Powered by&nbsp;
              a(href='https://github.com/mashery/iodocs') I/O Docs Community Edition
        script(type='text/javascript', src='javascripts/jquery-1.11.1.min.js')
        script(type='text/javascript', src='javascripts/jquery.tmpl.js')
        script(type='text/javascript', src='javascripts/jquery-ui-latest.custom.min.js')
        script(type='text/javascript', src='javascripts/alpaca.js')
        script(type="text/javascript", src="javascripts/form.js")
        script(src='javascripts/json2.js')
        script(src='javascripts/prettify.js')
        script(src='javascripts/utilities.js')
        script(src='javascripts/livedocs.js')
        script(src='javascripts/docs.js')
        script(src='javascripts/bookmarks.js')
